<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<ion-view title="Count Down">
  <div id="profile-bg"  ></div>

    <ion-content padding="'true'" style="background: url(img/S7niF5FkTv6skhpe84ty_screen_normal.png) no-repeat center;" class="has-header">
    <p></p>
<h1> <center><font color="white" size="10" font-family="Pacifico">{{currentUser.get('name')}}</font></center><h1>
 <img id="profile-image" ng-src="{{profilePicture}}">
 <p></p>
    <div> </div>
        <div> </div>


        <div class="item item-divider">

          <h2>Our photo album history<h2>
        </div>

        <a class="item item-list-detail">
          <ion-scroll direction="x">
            <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
          </ion-scroll>
        </a>
    </ion-content>
</ion-view>
